<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
<extension point="org.eclipse.ui.commands">
<command
name="Admin Utilities"
id="com.mycom.addmenurev.commands.sampleCommand">
</command>
</extension>
<extension point="org.eclipse.ui.handlers">
<handler
commandId="com.mycom.addmenurev.commands.sampleCommand"
class="com.me.navigator.SampleHandler">
</handler>
</extension>
<extension point="org.eclipse.ui.menus">
<menuContribution
locationURI="popup:org.eclipse.ui.popup.any?after=additions">
<command
commandId="com.mycom.addmenurev.commands.sampleCommand"
mnemonic="S"
icon="icons/sample.gif"
id="com.mycom.addmenurev.menus.sampleCommand">
</command>
</menuContribution>
</extension>
</plugin>